{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header mb-3">
        Delete Student {{ student.firstname }} {{ student.lastname }}
    </div>
    <div class="card-body mb-3">
    <form action="{% url 'delete-student' student.id %}" method="post">
        {% csrf_token %}
        <input class="btn-danger btn-block" style="width: 15%;" type="submit" name="btn" value="yes">
        <input class="btn-primary btn-block" style="width: 15%;" type="submit" name="btn" value="no">
    </form>
    </div>
{% endblock %}