<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
        <style type="text/css">
            body {
                font-family: Geneva;
                background-color:gainsboro;
            }
        </style>
        <title>Hillel Django Project</title>
        <header class="header">
            <nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgb(235, 235, 235)">
                <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">Home</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Students</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Teachers</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Groups</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Fake-Generator</a></li>
                        <li class="nav-item"><a href="admin" class="nav-link text-uppercase font-weight-bold">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    {% endblock %}
</head>
</html>