<html lang="en">
    <head></head>
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <body>
        <h1 align="center">SUPER EASY SOLUTIONS xD</h1>
        <h3 align="center">HTML Endpoints</p>
        <p align="center"><a href="add_student">Add Student</a></p>
        <p align="center"><a href="add_teacher">Add Teacher</a></p>
        <p align="center"><a href="add_group">Add Group</a></p>
        <p align="center"><a href="admin">Django Admin</a></p>
        <h3 align="center">JSON Endpoints</p>
        <p align="center"><a href="students">Get Students</a></p>
        <p align="center"><a href="teachers">Get Teachers</a></p>
        <p align="center"><a href="groups">Get Groups</a></p>
        <img src='static/whereami.gif' class="center">

    </body>
</html>