<html lang="en">
    <head></head>
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <body>
        <h1 align="center">SUPER EASY SOLUTIONS xD</h1>
        <p align="center"><a href="add-student">Add Student</a></p>
        <p align="center"><a href="add-teacher">Add Teacher</a></p>
        <p align="center"><a href="add-group">Add Group</a></p>
        <p align="center"><a href="admin">Django Admin</a></p>
        <img src='static/whereami.gif' class="center">
    </body>
</html>