{% extends "base.html" %}
{% block content %}

    <h5 align="left">Students <a href="{% url 'add-student' %}"><button>Add</button></a></h5>
    
    <p></p>
    <table align="center" cellpadding="2"  width="40%">
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Actions</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.id|safe }}</td>
            <td>{{ student|safe }}</td>
            <td><a href="/edit_student/{{ student.id }}">Edit</a> <a href="/delete_student/{{ student.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}