{% extends "base.html" %}
{% block content %}
<div class="card w-75">
    <div class="card-header mb-3">
        Groups <a href="{% url 'add-group' %}" class="btn btn-primary btn-sm">Add Group</a>
    </div>
    <div class="card-body mb-3">
        <table class="table table-sm table-hover" align="center" cellpadding="2"  width="70%">
            <tr>
                <th>ID</th>
                <th>Group name</th>
                <th>Teacher</th>
                <th>Headman</th>
                <th>Actions</th>
            </tr>

            {% for group in groups %}
            <tr>
                <td>{{ group.id|safe }}</td>
                <td>{{ group|safe }}</td>
                <td><a href="/edit_teacher/{{ group.teacher.id }}">{{ group.teacher|safe }}</a></td>
                <td><a href="/edit_student/{{ group.headman.id }}">{{ group.headman|safe }}</a></td>
                <td><a href="/edit_group/{{ group.id }}">Edit</a> <a href="/delete_group/{{ group.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}