{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header mb-3">
        {{ type }}s <a href="/add_{{ type|lower }}" class="btn btn-primary btn-sm">Add {{ type }}</a>
    </div>
    <div class="card-body mb-3">
        <table class="table table-sm table-hover" align="center" cellpadding="2" width="60%">
            <!-- Table First Row -->
            <tr>
                <th>ID</th>
                <th>{{ type }}</th>
                <th>Students</th>
                <th>Discipline</th>
                <th>Teacher</th>
                <th>Headman</th>
                <th>Actions</th>
            </tr>
    
            <!-- Table all Rows -->
            {% for entity in object_list %}
            <tr>
                <td>{{ entity.id|safe }}</td>
                <td>{{ entity|safe }}</td>
                <td>{{ entity.fkeycount }}</td>
                <td>{{ entity.discipline }}</td>
                {% if entity.teacher %}
                    <td><a href="/edit_teacher/{{ entity.teacher.id }}">{{ entity.teacher|safe }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if entity.headman %}
                    <td><a href="/edit_student/{{ entity.headman.id }}">{{ entity.headman|safe }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="/edit_{{ type|lower }}/{{ entity.id }}">Edit</a> <a href="/delete_{{ type|lower }}/{{ entity.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}