{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div id="content" class="container">
        <style type="text/css">
            body {
                padding-top: 90px;
                font-family: Helvetica;
                background-color:rgb(255, 255, 255);
            }
        </style>
        {% block content %}Place Your Content Here{% endblock %}
    </div>
    <div id="backend_messages" class="container">
        {% if messages %}
        <h5>Messages</h5>
        <ul class="messages card">
            <style type="text/css">
                #backend_messages {
                    padding-top: 10px;
                    font-family: Helvetica;
                    background-color:rgb(255, 255, 255);
                }
            </style>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>