{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div id="content" class="container">
        <style type="text/css">
            body {
                padding-top: 90px;
                font-family: Helvetica;
                background-color:rgb(255, 255, 255);
            }
            .card {
                margin: 0 auto;
                float: none;
                margin-bottom: 10px;
            }
        </style>
        {% block content %}
    
        {% endblock %}
        {% if messages %}
        <div id="backend_messages" class="card mb-3">
            <div class="card-header mb-3">
                Messages
            </div>
            <div class="card-body">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</body>
</html>