{% extends "base.html" %}
{% block content %}
<form class="card w-50" action="" method="post">
    <div class="card-header mb-3">
        Contact us
        <button class="btn btn-primary btn-sm" type="submit">Send Mail</button>
    </div>

        {% csrf_token %}
        <table>
            <tr>
                <td>From</td>
                <td>{{ form.send_from }}</td>
            </tr>
            <t>
                <td>Subject</td>
                <td>{{ form.subject }}</td>
            </tr>
        </table>
        {{ form.message }}



    </div>
</form>
{% endblock %}