{% extends "base.html" %}
{% block content %}
    <h5 align="left">Currency stamps </h5>
    <p></p>
    <table class="table table-sm table-bordered table-hover" align="center" cellpadding="2"  width="70%">
        <tr>
            <th>Created</th>
            <th>Currency</th>
            <th>Bank</th>
            <th>Exchange Rate</th>
        </tr>

        {% for stamp in stamps %}
        <tr>
            <td>{{ stamp.created|date:'Y-m-d H:i' }}</td>
            <td>{{ stamp.currency|safe }}</td>
            <td>{{ stamp.bank|safe }}</td>
            <td>{{ stamp.exchangerate|safe }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}