{% extends "base.html" %}
{% block content %}
<div class="card w-75">
    <div class="card-header mb-3">
        Fake Generator
    </div>
    <div class="card-body">
        <p>Performs using Faker python library</p>
        <ul>
            <li>
                Teacher generation requires of Students exists
            </li>
            <li>
                Group generation requires both Students and Teachers exists
            </li>
        </ul>
        <a href="{% url 'generate-students' %}" class="btn btn-primary btn-block">Generate Students</a>
        <a href="{% url 'generate-teachers' %}" class="btn btn-primary">Generate Teachers</a>
        <a href="{% url 'generate-groups' %}" class="btn btn-primary">Generate Groups</a>
    </div>
</div>
{% endblock %}