{% extends "base.html" %}
{% block content %}
    <h3 align="center">HTML Endpoints</h3>
    <p align="center"><a href="add_student">Add Student</a></p>
    <p align="center"><a href="add_teacher">Add Teacher</a></p>
    <p align="center"><a href="add_group">Add Group</a></p>
    <h3 align="center">JSON Endpoints</h3>
    <p align="center"><a href="students">Get Students</a></p>
    <p align="center"><a href="teachers">Get Teachers</a></p>
    <p align="center"><a href="groups">Get Groups</a></p>
    <h2 align="center">Fake Entity Generator Endpoints</h2>
    <p align="center"><a href="generate_students">Generate Students</a></p>
    <p align="center"><a href="generate_teachers">Generate Teachers</a></p>
    <p align="center"><a href="generate_groups">Generate Groups</a></p>
{% endblock %}