{% extends "base.html" %}
{% block content %}
    <form class="card" action="" method="post">
        {% csrf_token %}
        <div class="card-header mb-3">
            Signup User
        </div>
        <div class="card-body mb-3">
            <table style="margin: 10px;">
                {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                    {% if field.label_tag == "username" %}
                        <td style="color: grey">{{ field.help_text }}</td>
                    {% endif %}
                    <!-- {% for error in field.errors %}
                        <td style="color: red">{{ error }}</td>
                    {% endfor %} -->
                </tr>
                {% endfor %}

            </table>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>

    </form>
{% endblock %}